/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  background-image: url('reel.jpg');
}

.web-title {
  width: 100%;
  background-color: #141414;
  color: white;
}